<main class="main">


    <!-- A Legacy of Expertise Section -->
    <section class="legacy_layout text_block_layout section">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <div class="row col-reverse">
                <div class="col-lg-8">
                    <div class="content pr-50">
                        <h3>Who Built This and Why It Matters</h3>
                        <p>
                            Tax Appeal Plus was created by Erik Wind, a real estate tech entrepreneur with over 25 years of experience designing and building software that solves real, operational problems for professionals in the property tax space.
                        </p>
                        <p>
                            Before launching Tax Appeal Plus, Erik joined GeoData Plus as its second employee in 2002 and acquired the company in 2012. Under Erik’s leadership, GeoData Plus became a household name among property tax professionals, agents, brokers, investors and lenders across New York and beyond. GeoData Plus was acquired in 2021 by ATTOM Data Solutions, one of the largest property data firms in the country.
                        </p>
                        <p>Even while leading GeoData Plus, Erik was building something else — a passion project called Tax Appeal Plus.</p>
                        <p>Tax Appeal Plus is more than just another tool — it’s the result of two decades in the trenches, working alongside the firms that actually file appeals, manage cases, deal with municipalities, and juggle thousands of deadlines. Erik didn’t just consult on these problems — he personally designed and built the database and core engine that powers the platform today.</p>
                        <p>Unlike most real estate tech software built by outsourced developers or generic SaaS companies, Tax Appeal Plus was built by someone who understands both the domain and the code — and it shows.</p>


                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="img_container w-100 pr-50 pt2">
                        <img src="assets/img/Erik-Wind.jpg" class="img-fluid img-shadow img-content" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- A Legacy of Expertise Section End-->
    <!-- Story Behind Tax Appeal Plus Section -->
    <section class="story_behind_layout text_block_layout section">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <div class="row">
                <div class="col-sm-12 col-lg-10 mx-auto pt-lg-0 content">
                    <h3 class=" text-center">Why I Built This</h3>
                    <p>After selling GeoData Plus, I consulted with firms around the country. The feedback was almost always the same:</p>
                    <ul class="build_section">
                        <li>
                            <p>
                                <sup><svg class="left_icon_quots" xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="10" height="10"><path d="M8,4H4A4,4,0,0,0,0,8v4a2,2,0,0,0,2,2H7.91A6.006,6.006,0,0,1,2,19a1,1,0,0,0,0,2,8.009,8.009,0,0,0,8-8V6A2,2,0,0,0,8,4Z"></path><path d="M22,4H18a4,4,0,0,0-4,4v4a2,2,0,0,0,2,2h5.91A6.006,6.006,0,0,1,16,19a1,1,0,0,0,0,2,8.009,8.009,0,0,0,8-8V6A2,2,0,0,0,22,4Z"></path></svg></sup>
                                We’re drowning in spreadsheets.
                                <sup>
                                    <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="10" height="10"><path d="M8,4H4A4,4,0,0,0,0,8v4a2,2,0,0,0,2,2H7.91A6.006,6.006,0,0,1,2,19a1,1,0,0,0,0,2,8.009,8.009,0,0,0,8-8V6A2,2,0,0,0,8,4Z"></path><path d="M22,4H18a4,4,0,0,0-4,4v4a2,2,0,0,0,2,2h5.91A6.006,6.006,0,0,1,16,19a1,1,0,0,0,0,2,8.009,8.009,0,0,0,8-8V6A2,2,0,0,0,22,4Z"></path></svg>
                                </sup>
                            </p>
                        </li>
                        <li>
                            <p>
                                <sup><svg class="left_icon_quots" xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="10" height="10"><path d="M8,4H4A4,4,0,0,0,0,8v4a2,2,0,0,0,2,2H7.91A6.006,6.006,0,0,1,2,19a1,1,0,0,0,0,2,8.009,8.009,0,0,0,8-8V6A2,2,0,0,0,8,4Z"></path><path d="M22,4H18a4,4,0,0,0-4,4v4a2,2,0,0,0,2,2h5.91A6.006,6.006,0,0,1,16,19a1,1,0,0,0,0,2,8.009,8.009,0,0,0,8-8V6A2,2,0,0,0,22,4Z"></path></svg></sup>
                                Our current system doesn’t integrate with tax assessor data.
                                <sup>
                                    <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="10" height="10"><path d="M8,4H4A4,4,0,0,0,0,8v4a2,2,0,0,0,2,2H7.91A6.006,6.006,0,0,1,2,19a1,1,0,0,0,0,2,8.009,8.009,0,0,0,8-8V6A2,2,0,0,0,8,4Z"></path><path d="M22,4H18a4,4,0,0,0-4,4v4a2,2,0,0,0,2,2h5.91A6.006,6.006,0,0,1,16,19a1,1,0,0,0,0,2,8.009,8.009,0,0,0,8-8V6A2,2,0,0,0,22,4Z"></path></svg>
                                </sup>
                            </p>
                        </li>
                        <li>
                            <p>
                                <sup><svg class="left_icon_quots" xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="10" height="10"><path d="M8,4H4A4,4,0,0,0,0,8v4a2,2,0,0,0,2,2H7.91A6.006,6.006,0,0,1,2,19a1,1,0,0,0,0,2,8.009,8.009,0,0,0,8-8V6A2,2,0,0,0,8,4Z"></path><path d="M22,4H18a4,4,0,0,0-4,4v4a2,2,0,0,0,2,2h5.91A6.006,6.006,0,0,1,16,19a1,1,0,0,0,0,2,8.009,8.009,0,0,0,8-8V6A2,2,0,0,0,22,4Z"></path></svg></sup>
                                The software provider doesn’t understand our business.
                                <sup>
                                    <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="10" height="10"><path d="M8,4H4A4,4,0,0,0,0,8v4a2,2,0,0,0,2,2H7.91A6.006,6.006,0,0,1,2,19a1,1,0,0,0,0,2,8.009,8.009,0,0,0,8-8V6A2,2,0,0,0,8,4Z"></path><path d="M22,4H18a4,4,0,0,0-4,4v4a2,2,0,0,0,2,2h5.91A6.006,6.006,0,0,1,16,19a1,1,0,0,0,0,2,8.009,8.009,0,0,0,8-8V6A2,2,0,0,0,22,4Z"></path></svg>
                                </sup>
                            </p>
                        </li>
                        <li>
                            <p>
                                <sup><svg class="left_icon_quots" xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="10" height="10"><path d="M8,4H4A4,4,0,0,0,0,8v4a2,2,0,0,0,2,2H7.91A6.006,6.006,0,0,1,2,19a1,1,0,0,0,0,2,8.009,8.009,0,0,0,8-8V6A2,2,0,0,0,8,4Z"></path><path d="M22,4H18a4,4,0,0,0-4,4v4a2,2,0,0,0,2,2h5.91A6.006,6.006,0,0,1,16,19a1,1,0,0,0,0,2,8.009,8.009,0,0,0,8-8V6A2,2,0,0,0,22,4Z"></path></svg></sup>
                                We’re spending way too much time on things that should be automated.
                                <sup>
                                    <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="10" height="10"><path d="M8,4H4A4,4,0,0,0,0,8v4a2,2,0,0,0,2,2H7.91A6.006,6.006,0,0,1,2,19a1,1,0,0,0,0,2,8.009,8.009,0,0,0,8-8V6A2,2,0,0,0,8,4Z"></path><path d="M22,4H18a4,4,0,0,0-4,4v4a2,2,0,0,0,2,2h5.91A6.006,6.006,0,0,1,16,19a1,1,0,0,0,0,2,8.009,8.009,0,0,0,8-8V6A2,2,0,0,0,22,4Z"></path></svg>
                                </sup>
                            </p>
                        </li>
                    </ul>
                    <p>So I built Tax Appeal Plus — from the database schema to the user interface — myself. It's lean, powerful, and designed specifically for companies that deal with hundreds or thousands of tax appeal cases each year.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Story Behind Tax Appeal Plus End-->
    <!-- Choose Tax Appeal Plus Section -->
    <section class="choose_us_layout text_block_layout section">
        <div class="container-outside bg-img-2">
            <div class="overlay-shape overlay overlay-1"></div>
            <div class="d-table">
                <div class="dt-cell">
                    <div class="heading white pl-60 relative">
                        <h2>Why Choose <br>Tax Appeal Plus?</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row heading_small">
                <div class="col-xs-12">
                    <div class="section-title center-section-title" data-aos="fade-up">
                        <h2>Why Choose Tax Appeal Plus?</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="single-service" class="icon">
                                <img src="assets/img/track_record.svg" />
                                <h5>Proven Track Record</h5>
                                <hr class="line">
                                <p class="mt-15">Tax Appeal Plus has been in use for nearly two decades, helping property tax professionals achieve remarkable success.</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="single-service">
                                <img src="~/assets/img/industry_expert.svg" />
                                <h5>Built by an Industry Expert</h5>
                                <hr class="line">
                                <p class="mt-15">With my extensive background in real estate data and property tax, I’ve poured my knowledge and passion into creating a platform that truly understands your needs.</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="single-service">
                                <i class="icon-tools"></i>
                                <img src="assets/img/Customer_Success.svg" />
                                <h5>Customer Success Stories</h5>
                                <hr class="line">
                                <p class="mt-15">Our customers don’t just use Tax Appeal Plus—they thrive with it. They’ve scaled their businesses and achieved greater efficiency thanks to the platform.</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="single-service">
                                <img src="assets/img/designed.svg" class="icon" />
                                <h5>Designed for Professionals</h5>
                                <hr class="line">
                                <p class="mt-15">Whether you’re managing hundreds or thousands of cases, Tax Appeal Plus offers the tools and automation you need to handle your workload with ease.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Choose Tax Appeal Plus Section End-->
    <!--Not just efficient section start here -->
    <section class="Absurd_layout1 text_block_layout section about_option">
        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="about_Efficient_outer">
                <div class="about-Efficient">
                    <h3 class="">So Efficient it’s Absurd</h3>
                    <p>
                        Unlike most platforms built by generic software teams, Tax Appeal Plus was created by someone who knows the data, the workflow, and the pressure of the property tax business. It works fast. It works smart. And it works like it’s done this before.
                    </p>
                    <p>Tax Appeal Plus doesn’t nibble at the problem — it solves it, then keeps raising the bar.</p>

                </div>

                <div class="about-Efficient_image">
                    <img src="~/assets/Img/efficient_image.png" />
                </div>

            </div>

        </div>
    </section>
    <!--Not just efficient section End here -->
    <!-- A Vision for the Future Section -->
    <section class="vision_layout text_block_layout section">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <div class="row">
                <div class="col-lg-6">
                    <div class="story_behind_img w-100 pt2 bg-shape pr-50 pl-50 position-relative">
                        <img src="assets/img/vision.jpg" class="img-fluid img-shadow" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="content">
                        <h3>A Vision for the Future</h3>
                        <p>Tax Appeal Plus is not just software; it’s a partner in your success. My mission is to make Tax Appeal Plus your go-to for every aspect of your property tax business, and bring it to more property tax professionals, empowering them with the tools that have been quietly driving results for years.</p>
                        <p>Thank you for taking the time to learn about Tax Appeal Plus and the story behind it. I look forward to helping you achieve your goals and simplify your property tax operations. If you’re ready to see how Tax Appeal Plus can transform your business, let’s connect today!</p>
                        <p class="text_bold">
                            Erik Wind<br>
                            Founder, Tax Appeal Plus
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- A Vision for the Future End-->
    <!--TimeLine Section -->
    <section class="timeLine_layout text_block_layout section ">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <div class="row">
                <div class="section-title center-section-title" data-aos="fade-up">
                    <h3>This isn’t some new startup. This is 20 years in the making.</h3>
                </div>
                <div class="timeline_content">
                    <div class="timeline__wrap">
                        <div class="timeline__item odd">
                            <div class="timeline__item-point"></div>
                            <div class="timeline__item-title">2002</div>
                            <div class="timeline__item-text"><span> Erik joins GeoData Plus as its second employee</span></div>
                        </div>
                        <div class="spacer odd h-100">
                        </div>
                        <div class="timeline__item even">
                            <div class="timeline__item-point"></div>
                            <div class="timeline__item-title">2005</div>
                            <div class="timeline__item-text"><span>Begins building Tax Appeal Plus with input from leading property tax companies</span></div>
                        </div>
                        <div class="spacer odd h-120">
                        </div>
                        <div class="timeline__item odd">
                            <div class="timeline__item-point"></div>
                            <div class="timeline__item-title">2012</div>
                            <div class="timeline__item-text"><span>Acquires GeoData Plus and continues refining Tax Appeal Plus</span></div>
                        </div>
                        <div class="spacer odd h-160">
                        </div>
                        <div class="timeline__item even">
                            <div class="timeline__item-point"></div>
                            <div class="timeline__item-title">2021</div>
                            <div class="timeline__item-text"><span>Sells GeoData Plus to ATTOM; joins them to assist the transition</span></div>
                        </div>
                        <div class="spacer odd h-50">
                        </div>
                        <div class="timeline__item odd">
                            <div class="timeline__item-point"></div>
                            <div class="timeline__item-title">2023</div>
                            <div class="timeline__item-text"><span>Leaves ATTOM to go all-in on Tax Appeal Plus</span></div>
                        </div>
                        <div class="spacer odd h-50">
                        </div>
                        <div class="timeline__item even">
                            <div class="timeline__item-point"></div>
                            <div class="timeline__item-title">2025</div>
                            <div class="timeline__item-text"><span>Celebrating 20 years of helping firms increase profitability, automate back-office work, and scale smarter</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- TimeLine End-->
    <!-- Get Started Section -->
    <section class="get-started section light-background" id="Demonstration-content">
        <div class="container">
            <!-- Section Title -->
            <div class="section-title center-section-title" data-aos="fade-up">
                <h2>Experience Tax Appeal Plus with a Free,</h2><h2> No-Obligation Demonstration Today!</h2>
                <p>Choose a convenient date and time below, and we'll send you a link to join the session. </p>
            </div><!-- End Section Title -->
        </div>
        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row gy-4">

                <div class="col-sm-12">
                    <div class="Demonstration-content">
                        <!-- Cal inline embed code begins -->
                        <div style="width:100%;height:100%;overflow:scroll" id="my-cal-inline"></div>

                        <script type="text/javascript">
                            var isLoadedCalendar = false;
                            setTimeout(function () {
                                (function (C, A, L) {
                                    let p = function (a, ar) { a.q.push(ar); };
                                    let d = C.document;
                                    C.Cal = C.Cal || function () {
                                        let cal = C.Cal;
                                        let ar = arguments;
                                        if (!cal.loaded) {
                                            cal.ns = {};
                                            cal.q = cal.q || [];
                                            d.head.appendChild(d.createElement("script")).src = A;
                                            cal.loaded = true;
                                            isLoadedCalendar = true;
                                        }
                                        if (ar[0] === L) {
                                            const api = function () {
                                                p(api, arguments);
                                            };
                                            const namespace = ar[1];
                                            api.q = api.q || [];
                                            if (typeof namespace === "string") {
                                                cal.ns[namespace] = cal.ns[namespace] || api;
                                                p(cal.ns[namespace], ar);
                                                p(cal, ["initNamespace", namespace]);
                                            } else p(cal, ar);
                                            return;
                                        }
                                        p(cal, ar);
                                    };
                                })(window, "https://app.cal.com/embed/embed.js", "init");

                                Cal("init", "tax-appeal-plus-demonstration-and-consult", { origin: "https://cal.com" });

                                Cal.ns["tax-appeal-plus-demonstration-and-consult"]("inline", {
                                    elementOrSelector: "#my-cal-inline",
                                    config: { "layout": "month_view" },
                                    calLink: "erikwind/tax-appeal-plus-demonstration-and-consult",
                                });

                                Cal.ns["tax-appeal-plus-demonstration-and-consult"]("ui", {
                                    "styles": { "branding": { "brandColor": "#b3f4b7" } },
                                    "hideEventTypeDetails": false,
                                    "layout": "month_view"
                                });
                            }, 100); // 6000 milliseconds = 3 seconds
                        </script>


                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /Get Started Section -->




</main>