<main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="zoom-out">
                    <h5>Property Tax Professionals</h5>
                    <h1>Cut Your Busy Work by over 50%</h1>
                    <p>
                        Effortlessly Manage Tax Appeal Filings, Save Time and Boost Profits with the leading Tax Appeal
                        Technology.
                    </p>
                    <div class="d-flex">
                        <a href="#Demonstration-content" class="outline-btn">
                            Schedule a Demonstration Now <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="200">
                    <div class="banner_img">
                        <img src="assets/img/banner-img.jpg" class="img-fluid" alt="">
                        <a href="https://player.vimeo.com/video/1027020823?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
                           class="glightbox btn-watch-video pulse">
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="512.000000pt" height="512.000000pt"
                                 viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet">

                                <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="currentColor"
                                   stroke="none">
                                    <path d="M370 2564 c0 -1405 3 -2554 7 -2554 10 0 4372 2544 4372 2550 0 3 -985 580 -2189 1282 l-2190 1276 0 -2554z" />
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- /Hero Section End-->
    <!-- Badges Section -->
    <section class="badges-layout section">
        <div class="container" data-aos="zoom-in">
            <div class="row badges_content">
                <div class="col-sm-6 col-lg-3">
                    <div class="badges_images">
                        <div class="badge_img">
                            <img src="assets/img/badges/20-years.png" class="img-fluid" style="max-width: 100px;" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="badges_images">
                        <div class="badge_img">
                            <img src="assets/img/badges/bbb-img.png" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="badges_images">
                        <div class="badge_img">
                            <img src="assets/img/badges/TaxAppealsFiled1.png" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="badges_images">
                        <div class="badge_img">
                            <img src="assets/img/badges/IPT.png" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /Badges Section End -->
    <!-- FreeUp Space Section -->
    <section class="text_block_layout freeUp-time-layout light-background section">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <div class="row">
                <div class="col-lg-6">
                    <div class="pr-50 pt2 freeUp-time-img">
                        <img src="assets/img/img1.png" class="img-fluid img-content" alt="">
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="content">
                        <h3>Free Up Your Time with Better Tax Appeal Filing and Management</h3>
                        <p>Ditch the Spreadsheets, Word Processor, and clunky document management software and reclaim countless hours each week. Enjoy a faster, more efficient workflow with everything centralized in one intuitive platform—freeing you up to focus on what really matters—your business. It’s time to stop fighting fires and focus on what really matters most. </p>
                        <div class="mb-3">
                            <a href="#Demonstration-content" class="outline-btn">
                                Schedule a Demonstration Now <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="testmonial-user-content">
                        <p class="fst-italic">
                            "Tax Appeal Plus completely changed the game for my tax grievance business. Prior to
                            Tax Appeal Plus we were manually drafting legal forms, invoices, and more. Now at a push of a button it
                            handles my entire business and has catapulted our firm to one of the largest in NYS. No one does it
                            better!"
                        </p>
                        <div class="img-with-name">
                            <div class="userimg"><img src="assets/img/Adam-Heller.jpg" class="img-fluid" /></div>
                            <div class="user-desc">
                                <div>Adam Heller</div>
                                <div class="title">President, Heller and Consultants Tax Grievance</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /FreeUp Space Section End-->
    <!-- Break the Silos Section -->
    <section class="text_block_layout section">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <div class="row">
                <div class="col-lg-6">
                    <div class="content pr-50">
                        <h3>Break the Silos of Disparate Software</h3>
                        <p>
                            Tired of using one system for billing, another for document management, and yet another for filings?
                            Who wouldn’t be? Let Tax Appeal Plus break down these barriers and handle it all for you.
                        </p>
                        <p>
                            Gone are the days of juggling multiple systems or searching endlessly for client data. With centralized
                            data access, everything you need is organized in a single, easy-to-navigate dashboard. Access case
                            histories, past and present documents, client information, and other critical data points all in one
                            place. Our tool’s searchable and categorized views make it easier than ever to locate specific
                            information, saving you valuable time and reducing stress. From client management to case tracking,
                            everything is just a few clicks away.
                        </p>
                        <div class="mb-3">
                            <a href="#Demonstration-content" class="outline-btn">
                                Schedule a Demonstration <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="w-100 pt2">
                        <img src="assets/img/img2.jpg?v=v2" class="img-fluid img-shadow" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="testmonial-user-content">
                        <p class="fst-italic">
                            "Tax Appeal Plus has allowed our company to grow at a rapid rate. Erik has an
                            incredible grasp of our industry. His knowledge and experience are unparalleled."
                        </p>
                        <div class="img-with-name">
                            <div class="userimg"><img src="assets/img/Marsha-Held.jpg" class="img-fluid" /></div>
                            <div class="user-desc">
                                <div>Marsha Held</div>
                                <div class="title">President, Property Tax Adjusters, Ltd.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- / Break the Silos Section End -->
    <!-- Stay on top of Everything Section -->
    <section class="text_block_layout section stay-ontop-layout light-background">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <div class="row col-reverse">
                <div class="col-lg-6">
                    <div class="w-100 pr-50 pt2">
                        <img src="assets/img/img3.jpg" class="img-fluid img-shadow img-content" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="content">
                        <h3>Stay on top of Everything with Intuitive Document Prep, Filing, and Invoicing</h3>
                        <p>We know you won’t miss the lost days of mind-numbing paperwork; you have better things to do. Tax Appeal Plus makes document management, appeal filing, and invoicing easy. </p>
                        <p>Streamline your workflow with a system that takes the hassle out of tax appeals. Imagine initiating appeals with a few clicks, pre-populating forms, and everything aided by expertly guided workflows. Forget sifting through piles of paperwork—Tax Appeal Plus makes filing as easy as entering a few details and hitting submit. The intuitive interface saves you time and money while it minimizes the chance of errors. </p>
                        <div class="mb-3">
                            <a href="#Demonstration-content" class="outline-btn">
                                Schedule a Demonstration <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="testmonial-user-content">
                        <p class="fst-italic">
                            “As a leader in the industry, we are very selective about the partners we work
                            with, and Tax Appeal Plus has exceeded our expectations on every level. Their expertise, dedication
                            and seamless approach have enhanced our own service offerings, allowing us to achieve consistently
                            positive outcomes for our clients. Tax Appeal Plus provided the insights and support we needed and
                            their communication was top-notch. We couldn't be happier with the results and look forward to
                            continued success together. We highly recommend Tax Appeal Plus to any firm looking for a reliable,
                            knowledgeable, and results-driven partner in tax appeals.”
                        </p>
                        <div class="img-with-name">
                            <div class="userimg"><img src="assets/img/Tammi-schmidt.jpg" class="img-fluid" /></div>
                            <div class="user-desc">
                                <div>Tammi Schmidt</div>
                                <div class="title">Tax Grievance Consultant</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /Stay on top of Everything Section End -->
    <!-- Ensure Perfect Appeal  Section -->
    <section class="text_block_layout section">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <div class="row">
                <div class="col-lg-6">
                    <div class="content pr-50">
                        <h3>Ensure Perfect Appeal Filings Every Time</h3>
                        <p>Stop fighting deadlines and racing against the clock. You deserve better! Avoid the headaches and mistakes by filing your appeals manually. </p>
                        <p>Now it’s easy to generate professional grade documents effortlessly with our automated system. Customize forms, letters, and appeal documents with a few clicks, and produce ready-to-file documents without tedious manual data entry. This automation feature helps reduce human errors, ensuring accuracy and professionalism in every document you produce. Whether you need templates or case-specific paperwork, our tool handles the heavy lifting, giving you more time to focus on your clients and cases. </p>
                        <div class="mb-3">
                            <a href="#Demonstration-content" class="outline-btn">
                                Schedule a Demonstration <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="w-100 pt2">
                        <img src="assets/img/img4.jpg" class="img-fluid img-shadow" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="testmonial-user-content">
                        <p class="fst-italic">
                            “Tax Appeal Plus is a great tool for anyone in the property tax grievance field because
                            it compiles all clients’ data in one place. When a client call or emails, we are able to quickly assist
                            them. It is also great for bulk filings, invoicing, providing statuses, and reporting. Having Tax Appeal
                            Plus accessible on the web is also very convenient for us.”
                        </p>
                        <div class="img-with-name">
                            <div class="userimg empty-img">
                                <img src="assets/img/empty-img.png" class="img-fluid">
                            </div>
                            <div class="user-desc">
                                <div> Elizabeth Danieli</div>
                                <div class="title">Property Tax Professional</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- / Ensure Perfect Appeal Section End -->
    <!-- Understand your Business Section -->
    <section class="text_block_layout understand_business_layout section light-background">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <div class="row">
                <div class="col-lg-8 mx-auto pt-lg-0 content">
                    <h3>Understand Your Business Like Never Before</h3>
                    <p class="mb-0">
                        Access real time status updates, revenue reports, annual comparisons, and countless other valuable metrics
                        through flexible reporting tools that keep your fingers on the pulse of your business.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- /Understand your Business Section End -->
    <!-- Services Section -->
    <section id="services" class="services-content services section">
        <!-- Section Title -->
        <div class="container section-title center-section-title" data-aos="fade-up">
            <h2>Run Your Property Tax Business With Ease Anytime, Anywhere</h2>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="row gy-4">

                <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <img src="assets/img/services/icon1.png" />
                        </div>
                        <h4>24/7 Secure Cloud Access</h4>
                        <p>Confidently manage your business from anywhere with reliable and secure cloud-based access.</p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <img src="assets/img/services/icon2.png" />
                        </div>
                        <h4>Desktop & Mobile Functionality</h4>
                        <p>Accessible from your PC, Mac, tablet, or phone..</p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <img src="assets/img/services/icon3.png" />
                        </div>
                        <h4>Automatic Cloud Backups</h4>
                        <p>Your data is automatically stored and backed up in real-time, ensuring it’s always safe and secure.</p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <img src="assets/img/services/icon4.png" />
                        </div>
                        <h4>Multi-User Capability</h4>
                        <p>Collaborate efficiently with customizable roles and permissions for your team..</p>
                    </div>
                </div><!-- End Service Item -->

            </div>

        </div>

    </section>
    <!-- /Services Section End-->
    <!-- Get Started Section -->
    <section class="get-started section light-background" id="Demonstration-content">
        <div class="container">
            <!-- Section Title -->
            <div class="section-title center-section-title" data-aos="fade-up">
                <h2>Experience Tax Appeal Plus with a Free,</h2><h2> No-Obligation Demonstration Today!</h2>
                <p>Choose a convenient date and time below, and we'll send you a link to join the session. </p>
            </div><!-- End Section Title -->
        </div>
        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row gy-4">

                <div class="col-sm-12">
                    <div class="Demonstration-content">
                        <!-- Cal inline embed code begins -->
                        <div style="width:100%;height:100%;overflow:scroll" id="my-cal-inline"></div>

                        <script type="text/javascript">
                            var isLoadedCalendar = false;
                            setTimeout(function () {
                                (function (C, A, L) {
                                    let p = function (a, ar) { a.q.push(ar); };
                                    let d = C.document;
                                    C.Cal = C.Cal || function () {
                                        let cal = C.Cal;
                                        let ar = arguments;
                                        if (!cal.loaded) {
                                            cal.ns = {};
                                            cal.q = cal.q || [];
                                            d.head.appendChild(d.createElement("script")).src = A;
                                            cal.loaded = true;
                                            isLoadedCalendar = true;
                                            var link = document.querySelector('a[href="https://go.cal.com/booking"]');
                                            if (link) {
                                                link.href = "https://cal.com/erikwind/tax-appeal-plus-demonstration-and-consult";
                                            }
                                        }
                                        if (ar[0] === L) {
                                            const api = function () {
                                                p(api, arguments);
                                            };
                                            const namespace = ar[1];
                                            api.q = api.q || [];
                                            if (typeof namespace === "string") {
                                                cal.ns[namespace] = cal.ns[namespace] || api;
                                                p(cal.ns[namespace], ar);
                                                p(cal, ["initNamespace", namespace]);
                                            } else p(cal, ar);
                                            return;
                                        }
                                        p(cal, ar);
                                    };
                                })(window, "https://app.cal.com/embed/embed.js", "init");

                                Cal("init", "tax-appeal-plus-demonstration-and-consult", { origin: "https://cal.com" });

                                Cal.ns["tax-appeal-plus-demonstration-and-consult"]("inline", {
                                    elementOrSelector: "#my-cal-inline",
                                    config: { "layout": "month_view" },
                                    calLink: "erikwind/tax-appeal-plus-demonstration-and-consult",
                                });

                                Cal.ns["tax-appeal-plus-demonstration-and-consult"]("ui", {
                                    "styles": { "branding": { "brandColor": "#b3f4b7" } },
                                    "hideEventTypeDetails": false,
                                    "layout": "month_view"
                                });
                            }, 0); // 6000 milliseconds = 3 seconds
                        </script>

                        <!-- Cal inline embed code ends -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /Get Started Section -->

</main>
<script>
    // Scroll to the Demonstration-content section on page load
    window.onload = function () {
        const demonstrationSection = document.getElementById("Demonstration-content");
        if (demonstrationSection) {
            demonstrationSection.scrollIntoView({ behavior: 'auto' }); // Change 'smooth' to 'auto'
        }
    };
</script>